@bg-color: #9FC2D4;

body{
  background-color: @bg-color;
}

.top-bar input{
  height: 30px;
}

#searchButton{
  height: 30px;
  width: 100%;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}

#selectSearch{
  height: 30px;
  width: 100%;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;

}

.photo{
  width: 150px;
  height: 150px;
  border: 2px solid white;
  display: inline-block;
  background-size: cover;
}

.thumbnail{
  width: 75px;
  height: 75px;
  border: 2px solid white;
  display: inline-block;
  background-size: cover;
}
